.body{
    background-image: url( Image from iOS(1).jpg)  ;
}

.fa-home{
    color: rgb(95, 66, 226);

}
.fa-envelope-square{
    color: rgb(38, 79, 214);
}
.m1{
    color: rgb(2, 221, 221);
}
.m2{
    color: rgb(218, 32, 8);

}
.m4{
    color: rgb(12, 22, 19);
}
.fa-instagram{
    color: black;
}
.btn-primary{
    color: rgb(10, 12, 12);
}
.m5{
    color: black;
}