.body{
    background-image: url( Image from iOS(1).jpg)  ;
}

.fa-home{
    color: rgb(69, 157, 230);
}
.fa-envelope-square{
    color: rgb(79, 193, 221);
}
.m1{
    color: rgb(12, 53, 53);
}
.m2{
    color: blue;

}
.m4{
    color: aqua;
}
.fa-instagram{
    color: black;
}
.btn-primary{
    color: aqua;
}
.m5{
    color: black;
}